.image
  background-color: #f9fafed2
  background-image: var(--bg-image)
  background-repeat: no-repeat
  background-size: 100% 35rem
  border-radius: 12px
  &::before
    position: absolute
    top: 50%
    left: 50%
    transform: translate3d(-50%, -40%, 70px)
    color: #fff
    font-size: 2em
