<nav>
  <a>
    <img src="./../../../assets/svg/mimo-logotype.svg" alt=""/>
  </a>
  <div class="align-item">
    <div class="flex">
      <div class="item">
        <a  routerLink="/projects" routerLinkActive="active">
          PROJECTS
        </a>
      </div>
      <div class="item">
        <a routerLink="/playgrounds"  routerLinkActive="active">
          PLAYGROUNDS
        </a>
      </div>
    </div>
    <div class="section2">
      <div class="rigth">
        <img src="./../../../assets/img/avatar-1.png" alt="">
      </div>
    </div>
  </div>
</nav>
