<div id="container-welcome" class=" content-all">
  <div id="firts-section" class="">
    <div class="content-section-1">
      <div class="flex" style="flex-direction: column">
        <div style="width: 72px;height: 72px;">
          <img src="./../../../assets/svg/Logo1.svg" alt="">
        </div>
        <div id="firts-section-content">
          <h1>
            Learning to code can be easy and fun!
          </h1>
          <div class="AppContent">
            <img src="./../../../assets/svg/Logo2.svg" alt="">
            <img src="./../../../assets/svg/Logo3.svg" alt="">
          </div>
          <div class="AppInformation">
            <div class="star">
              <img src="./../../../assets/svg/star.svg" alt="">
              <img src="./../../../assets/svg/star.svg" alt="">
              <img src="./../../../assets/svg/star.svg" alt="">
              <img src="./../../../assets/svg/star.svg" alt="">
              <img src="./../../../assets/svg/star.svg" alt="">
            </div>
            <h2 class="section1 ">
              Would Give More Stars If I Could</h2>
            <div>
              Mimo has been one of the best coding apps I have used to start my coding journey.
            </div>
            <span>
              FISCHERNK, 10/27/2019
            </span>
          </div>
        </div>

      </div>
      <div class="flex AppInformation2">
        <div style="flex:1;
                display: flex;
                flex-shrink: 1;
                width: 100%;
                max-width: 336px;
                box-shadow: rgba(47, 49, 82, 0.1) 0px 0px 40px 0px;
                border-radius: 12px;
                overflow: hidden;">
          <img sizes="(max-width: 672px) 100vw, 672px" srcset="" src="./../../../assets/img/hero.png"
            alt="Showcase User Interface"
            style=" top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 1; transition: opacity 500ms ease 0s;">
        </div>
        <div class="person-image">
          <img src="./../../../assets//svg/Logo4.svg" alt="">
        </div>
      </div>
    </div>
  </div>


  <div id="second-section">
    <div id="second-section-init">
      Learn to code on the go
    </div>

    <div id="welcome-section-content">
      <div id="welcome-section-content-items">
        <div class="content-image">
          <div style="width:100%;padding-bottom:100%"></div>
          <img src="./../../../assets/img/bite-sized.png" alt="">
        </div>
        <div class="content-text">
          <div class="content-section-2">
            <div class="content-title">
              <div>
                <img src="./../../../assets/svg/Dona.svg" alt="">
              </div>
              <h2>
                Streaks
              </h2>
          </div>
          <h3>
            Complete bite-sized exercises with real code and immediate feedback.
          </h3>
          </div>
        </div>
      </div>
      <div id="welcome-section-content-items">
        <div class="content-image">
          <div style="width:100%;padding-bottom:100%"></div>
          <img src="./../../../assets/img/playground.png" alt="">
        </div>
        <div class="content-text">
          <div class="content-section-2">
            <div class="content-title">
              <div>
                <img src="./../../../assets/svg/Code.svg" alt="">
              </div>
              <h2>
                Streaks
              </h2>
          </div>
          <h3>
            Experiment with examples, write and run code, and save your projects.
          </h3>
          </div>
        </div>
      </div>
      <div id="welcome-section-content-items">
        <div class="content-image">
          <div style="width:100%;padding-bottom:100%"></div>
            <img src="./../../../assets/img/streaks.png" alt="">
          </div>
          <div class="content-text">
            <div class="content-section-2">
              <div class="content-title">
                  <div>
                    <img src="./../../../assets/svg/water.svg" alt="">
                  </div>
                  <h2>
                    Streaks
                  </h2>
              </div>
              <h3>
                Set a daily goal and maintain a streak to make a habit of coding.
              </h3>
            </div>
          </div>
      </div>

    </div>

  </div>


  <div id="second-section">
    <div id="welcome-section-content">
      <div id="welcome-section-content-items">
        <div class="right">
        <div class="first">
          <app-carousel
          style="
          width: 100%;
          height: 55%;
          object-fit: cover;
          object-position: center center;
          opacity: 1;"
          #countdown
          [init]="imagenCount" (onDecrease)="updateProgress($event)"

          > </app-carousel>
        </div>
        <div class="secound">
            <img src="./../../../assets/svg/rocket.svg" alt="">
        </div>
      </div>
    </div>
    <div id="welcome-section-content-items" class="left">
        <h1 class="section">
          Real-world projects
        </h1>
        <span>
          Within days, you'll be able to build exciting projects and share them with your friends.
        </span>
        <app-timeline [progress]="counterProgress" (onDChangeForTimeLine)="changeProgressView($event)" (onClickChange)="countdown.startChangeimage()" ></app-timeline>
      </div>
    </div>
  </div>

</div>
