#container-welcome
  height: 100vh
  display: flex
  box-sizing: content-box
  max-width: 1040px
  margin-left: auto
  margin-right: auto
  padding: 100px 40px 0px
  flex-direction: column
#firts-section
  flex-direction: row
#firts-section-content
  font-family: FibraOne-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  color: rgb(62, 65, 109)
  font-weight: normal
  max-width: 350px
  margin: 28px 0px 0px
  flex-direction: column
h1
  display: flex
  font-size: 48px
  line-height: 64px
svg
  padding: 12px
#second-section-init
  font-family: FibraOne-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  color: rgb(62, 65, 109)
  font-size: 32px
  line-height: 48px
  font-weight: normal
  text-align: center
  padding-top: 45px
  padding-bottom: 45px
  margin: auto
#second-section
  display:flex
  flex-direction:row

#second-section-content
  display:flex
  flex-direction:row


#firts-section-content-items
  margin:12px
  padding:12px
  background-color:#000

#firts-section
  flex-direction: row