.button
  padding-left: 40px 40px
  font-size: 18px
app-cards
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
.content-projects
  // padding:16px 49px 38px 48px
.content-title
  margin-top: 5px
  margin-bottom: 24px
  padding-right: 0
.projects-list
  display: grid
  grid-template-columns: repeat(2, 1fr)
  -webkit-column-gap: 24px
  -moz-column-gap: 24px
  column-gap: 24px
  row-gap: 50px

