<div class="section-timeline">
  <div class="{{progress==1 ? 'list-day-active':'list-day-inactive'}}" (click)="changeforProgress(1)">
    <div class="day-button canActive">
      Day 1
    </div>
    <h3>
      Your Personal HomePage
    </h3>
  </div>
  <div class="{{progress==2 ? 'list-day-active':'list-day-inactive'}}" (click)="changeforProgress(2)">
    <div class="day-button canActive">
      Day 3
    </div>
    <h3>
      User Profile
    </h3>
  </div>

  <div class="{{progress==3 ? 'list-day-active':'list-day-inactive'}}" (click)="changeforProgress(3)">
    <div class="day-button canActive">
      day 7
    </div>
    <h3>
      Landing Page
    </h3>
  </div>
  <div class="{{progress==4 ? 'list-day-active':'list-day-inactive'}}" (click)="changeforProgress(4)">
    <div class="day-button canActive">
      day 10
    </div>
    <h3>
      Voting Feature
    </h3>
  </div>
  <div class="{{progress==5 ? 'list-day-active':'list-day-inactive'}}" (click)="changeforProgress(5)">
    <div class="day-button canActive">
      day 14
    </div>
    <h3>
      Add to card
    </h3>
  </div>
  <div class="line">
  </div>
  <div class="arrow">
    <img src="./../../../assets/svg/Arrow.svg" alt="">
  </div>
  <div class="text">
    ... and that's just the beginning!
  </div>
</div>
