<div class="section1">
  <div class="left">
    <div class="img1">
      <img src="./../../../assets/svg/Logo1.svg" alt="">
    </div>
    <div>
      <h1>
        Learning to code can be easy and fun!
      </h1>
      <div class="sectionDownloadApp">
        <img src="./../../../assets/svg/Logo2.svg" alt="">
        <img src="./../../../assets/svg/Logo3.svg" alt="">
      </div>
      <div class="AppInformation">
        <div class="star">
          <img src="./../../../assets/svg/star.svg" alt="">
          <img src="./../../../assets/svg/star.svg" alt="">
          <img src="./../../../assets/svg/star.svg" alt="">
          <img src="./../../../assets/svg/star.svg" alt="">
          <img src="./../../../assets/svg/star.svg" alt="">
        </div>
        <h2>
          Would Give More Stars If I Could</h2>
        <div>
          Mimo has been one of the best coding apps I have used to start my coding journey.
        </div>
        <span>
          FISCHERNK, 10/27/2019
        </span>
      </div>
    </div>
  </div>

  <div class="right">
    <div>
      <img src="./../../../assets/img/hero.png"
        alt="Showcase User Interface">
    </div>
    <!-- <div class="person">
      <img src="./../../../assets//svg/Logo4.svg" alt="">
    </div> -->
  </div>
</div>
