@import "./assets/styles/cards"
@import 'https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap'
@import "./assets/styles/circle"
@import "./assets/styles/align"
@import "./assets/styles/tooltip"
@import "./../node_modules/font-awesome/css/font-awesome"
@import "./assets/styles/typography"


*
  &:nth-child(3n)
    @media screen and ( max-width:640px)
      display: none
  & > app-learn-to-code
    @media screen and ( min-width:640px)
      display: inline
    @media screen and ( min-width:640px)
      display: none

.flex
  display: flex
  flex:1
