.align-row
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between

.align-row-circle
  display: flex
  position: absolute
  bottom: 30px
  left: 12px
  width: 42px
  height: 42px
