.circle
  display: flex
  flex-shrink: 2
  position: absoute
  bottom: 12px
  left: 12px
  width: 42px
  height: 42px
  border-radius: 21px
  background-color: #ff8800
  justify-content: center
  align-items: center
  font-family: 'Didact Gothic', sans-serif
  font-size: 14px
  line-height: 22px
  color: #bbb
  border: 2px solid #fff
  box-sizing: border-box
  transition: box-shadow 200ms 0ms easy

.align-row
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
